{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Julius+Sans+One&family=Open+Sans&family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
      body {
        background: rgb(204, 204, 204);
        width: 21cm;
        height: 29.7cm;
        margin: 0 auto;
      }

      page {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        position: relative;
      }

      page[size="A4"] {
        width: 21cm;
        height: 30cm;
      }

      @page {
        size: 21cm 29.7cm;
        margin: 0mm;
      }
    </style>
    <title>Resume</title>
  </head>
  <body>
    <page size="A4">
      <div class="container">
        <div class="leftPanel">
          <img src="{% static "img/1729079755602.jpg" %}" />
          <div class="details">
            <div class="item bottomLineSeparator">
              <h2>CONTACT</h2>
              <div class="smallText">
                <p>
                  <i class="fa fa-phone contactIcon" aria-hidden="true"></i>
                  {{phone}}
                </p>
                <p>
                  <i class="fa fa-envelope contactIcon" aria-hidden="true"></i>
                  {{email}}
                </p>
                <p>
                  <i
                    class="fa fa-map-marker contactIcon"
                    aria-hidden="true"
                  ></i>
                  {{address}}
                </p>
                <p>
                  <i
                    class="fa fa-linkedin-square contactIcon"
                    aria-hidden="true"
                  ></i>
                  <a href="https://{{linkedin}}"> {{linkedin}} </a>
                </p>
                <p class="lastParagrafNoMarginBottom">
                  <i class="fa fa-github contactIcon" aria-hidden="true"></i>
                  <a href="{{github}}"> {{github}} </a>
                </p>
              </div>
            </div>
            <div class="item bottomLineSeparator">
              <h2>HARD SKILLS</h2>
              <div class="smallText">
                {% for hardskill, year in hard_skills.items %}
                <div class="skill">
                  <div>
                    <span>{{hardskill}}</span>
                  </div>
                  <div class="yearsOfExperience">
                    <span class="alignright nowrap">{{year}}</span>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="item bottomLineSeparator">
              <h2>SOFT SKILLS</h2>
              <div class="smallText">
                {% for softskill in hard_skills %}
                <div class="skill">
                  <div>
                    <span>{{softskill}}</span>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="item bottomLineSeparator">
              <h2>LANGUAGE</h2>
              <div class="smallText">
                {% for lan in language %}
                <div class="skill">
                  <div>
                    <span>{{lan}}</span>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="rightPanel">
          <div>
            <h1>{{name}}</h1>
            <div class="smallText">
              <h3>{{job}}</h3>
            </div>
          </div>
          <div>
            <h2>About me</h2>
            <div class="smallText">
              <p>
                As a BackEnd Developer and Project Manager, I worked in a
                project that I can refer to and added to the quality of my work
                and my responsibility. Currently, most of my focus is on
                university and increasing my skills as a BackEnd Developer, and
                I am trying to increase my teamwork spirit. I am not currently
                working and just adding to my skills
              </p>
            </div>
            <div class="workExperience">
              <h2>Work experience</h2>
              <ul>
                {% for work, item in work_expriences.items %}
                <li>
                  <div class="jobPosition">
                    <span class="bolded">{{work}}</span>
                    <span> {{item.start_time}} - {{item.end_time}} </span>
                  </div>
                  {% for job,description in item.job.items %}
                  <div class="projectName">
                    <ul>
                      <li>
                        <span> {{job}}</span>
                        <div>{{description}}</div>
                      </li>
                    </ul>
                  </div>
                  {% endfor %}
                </li>
                {% endfor %}
              </ul>
            </div>
            <br />
            <hr />
            <br />
            <div class="workExperience">
              <h2>EDUCATION</h2>
              <ul>
                {% for school, item in education.items %}
                <li>
                  <div class="jobPosition">
                    <span class="bolded">{{school}}</span>
                    <span> {{item.start_time}} - {{item.end_time}} </span>
                  </div>
                  <div class="projectName">
                    <span> {{item.degree}}</span>
                    <div>{{item.institue}}</div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </page>
    {% comment %} <page size="A4"></page> {% endcomment %}
  </body>
</html>
